/* @font-face {
  font-family: "Avenir Next";
  src: url("AvenirNext-Medium.woff2") format("woff2"),
    url("AvenirNext-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} */

#spCommandBar {
  display: none;
}

.b_a_6b55bba6 {
  display: none;
}
.ant-switch-checked:hover:not(.ant-switch-diabled) {
  background-color: rgb(181, 77, 38);
}
body {
  font-family: "Avenir Next" !important;
}
.mainContainer {
  padding-top: 80px;
  padding-left: 0px;
  padding-right: 0px;
  font-family: "Avenir Next";
}
.detailsContainer {
  padding-top: 1rem;
  padding-left: 0px;
  padding-right: 0px;
  font-family: "Avenir Next";
}
::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}
::-webkit-scrollbar:horizontal {
  height: 5px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #b3b3b3;
  border-radius: 10px;
}

.inputButton {
  border: none;
}

.ScrollerContainer {
  font-family: "Avenir Next" !important;
}

@media (max-width: 767px) {
  .mainContainer {
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 1601px) and (max-width: 2800px) {
  .CanvasComponent {
    width: 101%;
  }
}
@media (min-width: 1321px) and (max-width: 1600px) {
  .CanvasComponent {
    width: 101.3%;
  }
}
@media (min-width: 1051px) and (max-width: 1320px) {
  .CanvasComponent {
    width: 101.8%;
  }
}
@media (min-width: 921px) and (max-width: 1050px) {
  .CanvasComponent {
    width: 102.3%;
  }
}
@media (min-width: 740px) and (max-width: 920px) {
  .CanvasComponent {
    width: 102.5%;
  }
}
@media (min-width: 521px) and (max-width: 740px) {
  .CanvasComponent {
    width: 104%;
  }
}
@media (min-width: 400px) and (max-width: 520px) {
  .CanvasComponent {
    width: 105.5%;
  }
}
@media (min-width: 100px) and (max-width: 399px) {
  .CanvasComponent {
    width: 105.5%;
  }
}
