/* @font-face {
  font-family: 'Avenir Next';
  src: url('AvenirNext-Medium.woff2') format('woff2'),
      url('AvenirNext-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


 */