td,
th {
  padding: 0.5rem;
}
.borderBottom {
  border-bottom: 1px solid black;
}
input {
  font-size: 1rem;
  font-weight: 500;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}
.formData div {
  font-size: 1rem;
  font-weight: 600;
}
button {
  font-size: 1rem;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 767px) {
  input {
    width: 100% !important;
  }
}
